<link rel="stylesheet" href="views/register/css/style.css">
<link rel="stylesheet" href="views/login/css/template1.css">
<link rel="stylesheet" href="views/register/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<style>

</style>
<div ng-controller="MegacableController" class="container">

    <div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2 style="color: white">You are logged in, you are able to navigate through the web</h2>
                <hr />
                <input type="submit" ng-click="goLogin()" value="Logout - Return to the Login Page" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>

</div>