<link rel="stylesheet" href="views/custom/css/template1.css" xmlns="http://www.w3.org/1999/html">

        <div ng-controller="CustomController" class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 15%;">

            <div class="wrap">

                <p class="form-title" style="color: #000000">
                    <img src="views/login/css/img/logo.png">
                    Hotspot-Location</p>
                <form class="login">
                    <input type="submit" ng-click="open()" value="Go to web" class="btn btn-success btn-sm" />

                </form>
            </div>
        </div>
    </div>


</div>
