<link rel="stylesheet" href="views/custom_session_expired/css/template1.css">
<link rel="stylesheet" href="views/custom_session_expired/css/.css">
<link rel="stylesheet" href="views/register/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<style>

</style>
<div ng-controller="CustomErrorFreeController" class="container">

    <div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2 style="color: white">Your Free Time Has Expired</h2>
                <h3 style="color: white">You will get a free 10 minutes each day</h3>
                <hr />
               <a style="color: white" ng-href="#/custom_login" >Return to the Login Page</a>
            </div>
        </div>
    </div>

</div>