
<link rel="stylesheet" href="views/custom_register_free/css/template1.css">
<link rel="stylesheet" href="views/custom_register_free/css/style.css">
<link rel="stylesheet" href="views/custom_register_free/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<style>

        .input-group .form-control {
            position: relative;
            z-index: 2;
            float: left;
            width: 90% !important;
            margin-bottom: 0;

    }
</style>
<span us-spinner="{radius:30, width:8, length: 16}"></span>
<div ng-controller="CustomRegisterFreeController" class="container">

    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <h2 style="color: white">Registration Page - Free User</h2>
            </div>
        </div>
        <div class="row  pad-top">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>   Register Yourself </strong>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <br/>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                                <input type="text" class="form-control" ng-model="free.user" placeholder="Your Name*"  />
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" ng-model="free.email"placeholder="Your Email"   />
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-book"></i></span>
                                <input type="text" class="form-control" ng-model="free.city" placeholder="City"/>
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-book"></i></span>
                                <input type="text" class="form-control" ng-model="free.desc" placeholder="Address"/>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="number" class="form-control" ng-model="free.phone" placeholder="Phone Number"  />
                            </div>


                            <input type="submit" ng-click="create()" class="btn btn-success " value="Register Me"/>
                            <hr />
                            <a ng-href="#/custom_login" >Return to login page</a>
                        </form>
                    </div>
                    <modal visible="showModal">

                    </modal>
                </div>
            </div>


        </div>
    </div>

</div>